<template>
  <p id="com-1d-underpass-text" class="web-component com-1d-underpass video-control-text"></p>
  <p id="com-1d-underpass-chunk" class="web-component com-1d-underpass video-control-chunk"></p>
</template>

<script>

  // TODO: This seems to only work in Chrome, verifying. There is a flag in Firefox that needs to be set to true
  // TODO: First click does not seem to work? Second and third works? Verifying

  // Note: after decoupling projector name with ritualID, the components are created to control projector1 by default
  (function(window, document, undefined) {
    var componentName = 'com-1d-underpass';
    
    window.ndnURLPublisherFactory.createVideoControlComponent
      (componentName, 'projectors/projector1/url', 'underpass', 
       '#' + componentName + '-text', '#' + componentName + '-chunk');  
  })(window, document);
  
</script>