<template>
    <p id="description" class="video-control-desc"></p>
    <div id="audience-names" class="video-control-text"></div>
</template>

<script>
  var componentObject = new window.ComponentObject(document, window);
  var dbObject = new window.DBObject('http://archive-dev.remap.ucla.edu/app');
  
  function onCreate(createdElement) {
    createdElement.shadowRoot.querySelector('#description').textContent = createdElement.getAttributeByListName(['default', 'message', 'description', 'desc'], '');
    
    // Audience names querying and outputing
    dbObject.queryParticipant(undefined, undefined, undefined, function(response) {
      var participantObject = {};
      try {
        participantObject = JSON.parse(response);
      } catch (e) {
        console.log(e);
      }
      for (var i = 0; i < participantObject.length; i++) {
        console.log(participantObject[i]);
        
      }
    });
    
    componentObject.applyStyleFromParentDocumentAll(createdElement);
  }
    
  componentObject.createComponent('com-agora-1', onCreate);
</script>