<template>
  <p id="cue-title" class="cue-title"></p>
  
  <p style="margin:1.3em auto; width: 400px">
    <!-- <a id="cue-load" class="video-control-text"></a> -->
    <a id="cue-go" class="video-control-text text-large"></a>
    <a id="cue-unload" class="video-control-text"></a>
  </p>
  
  <p id="cue-description" class="video-control-desc"></p>
  <p id="cue-chunk" class="video-control-chunk"></p>
</template>

<script>
  // Note: not used for now. 710 probably want to be dynamic
  var componentObject = new window.ComponentObject(document, window);
  var componentName = 'com-all-archive-video-cycle-dynamic-cue-725';
  
  function onCreate(createdElement) {
    createdElement.ndnPublisherComponentObject = new window.NDNPublisherComponentObject(createdElement, window);
    createdElement.ndnPublisherComponentObject.parseParameters();
    
    createdElement.youtubeObject = new window.YoutubeObject();
    createdElement.dbObject = new window.DBObject('http://archive-dev.remap.ucla.edu/app');
    
    // This show-id in NDN name is different from the show-id field in database
    var defaultShowId = 'default-show';
    if (window.hasOwnProperty('showid')) {
      defaultShowId = window.showid;
    }
    
    createdElement.showid = createdElement.getAttributeByListName(['showid'], defaultShowId);
    var cueTitle = createdElement.getAttributeByListName(['cueTitle', 't'], '');
    var description = createdElement.getAttributeByListName(['description', 'desc'], '');
    
    createdElement.content = createdElement.getAttributeByListName(['content'], '');
    if (createdElement.content !== '') {
      console.log(componentName + ': content definition exists for dynamic cue.');
    }
    
    createdElement.cueId = createdElement.getAttributeByListName(['cid'], '-1');
    createdElement.cueReady = false;
    createdElement.cueGoing = false;
    createdElement.lastScheduledEvent = undefined;
    
    createdElement.titleElement = createdElement.shadowRoot.querySelector('#cue-title');
    createdElement.descElement = createdElement.shadowRoot.querySelector('#cue-description');
    createdElement.chunkElement = createdElement.shadowRoot.querySelector('#cue-chunk');
    
    //createdElement.loadElement = createdElement.shadowRoot.querySelector('#cue-load');
    createdElement.goElement = createdElement.shadowRoot.querySelector('#cue-go');
    createdElement.unloadElement = createdElement.shadowRoot.querySelector('#cue-unload');
    
    createdElement.titleElement.textContent = createdElement.cueId + ' : ' + cueTitle;
    createdElement.descElement.textContent = description;
    
    //createdElement.loadElement.textContent = 'stand by';
    createdElement.goElement.textContent = 'GO';
    createdElement.unloadElement.textContent = 'unload';
    
    componentObject.applyStyleFromParentDocumentAll(createdElement);
    
    if (createdElement.content === undefined || createdElement.content == '') {
      var xhr = new XMLHttpRequest();
      xhr.open('GET', cueFolder + createdElement.cueId + '.json', true);
      xhr.onreadystatechange = function () {
        if (xhr.readyState == 4 && xhr.status == 200) {
          createdElement.cueContent = JSON.parse(xhr.responseText);
        }
      };
      xhr.send();
    }
    
    // A: 1A/1D videos
    // B: 1A/1B videos
    // C: 1C/2B videos
    // D: 2A/1B videos
    createdElement.videoLinks = {
      'A': [],
      'B': [],
      'C': [],
      'D': []
    };
    
    createdElement.links = [];
    createdElement.youtubeObject.requestYoutubeItem({
      'query': 'search',
      'part': 'snippet,id',
      'channelId': 'UCdHYVYRpXuWedoj71N2TcQg',
      'videoIdPath': 'id.videoId',
      'maxResults': '20'
    }, undefined, createdElement.links, function () {
      createdElement.finishedFetching = true;
      var cnt = 0;
      for (key in createdElement.videoLinks) {
        for (var i = 0; i < createdElement.links.length / 4; i++) {
          createdElement.videoLinks[key].push('https://www.youtube.com/watch?v=' + createdElement.links[cnt]);
          cnt ++;
        }
      }
      
      createdElement.videoUrlCallbackCnt = 0;
      createdElement.fillJsonRandomVideoLinks(createdElement.cueContent, createdElement);
      createdElement.jsonTraverse(createdElement.cueContent, createdElement.replaceVideoUrl, createdElement, false);
    });
    
    
    createdElement.registerEvents = function (createdElement) {
      // This is a quick modification for test on May 12, as the patch expects commands to be published for cues.
      // TODO: update this with state publisher to make state publisher take 0 or -1 time
      /*
      createdElement.loadElement.addEventListener('click', function() {
        // TODO: referencing namePrefix like this is not ideal
        if (createdElement.cueReady) {
          console.log('Load does not do anything');
        }
      });
      */
      
      createdElement.goElement.addEventListener('click', function() {
        if (!createdElement.cueGoing) {
          if (window.scriptControl.cueGoClicked) {
            window.scriptControl.cueGoClicked(createdElement);
          }
        
          if (createdElement.cueReady) {
            createdElement.cueGoing = true;
          
            // TODO: referencing namePrefix like this is not ideal
            var dataName = new Name(createdElement.ndnPublisherComponentObject.namePrefix);
            var cueComponent = new Name('cues');
            var nameSuffix = new Name(createdElement.cueId + '/go');
            dataName.append(createdElement.showid).append(cueComponent).appendVersion((new Date).getTime()).append(nameSuffix);

            createdElement.goElement.className += ' video-control-clicked';
            componentObject.applyStyleFromParentDocument(createdElement.goElement);

            createdElement.publishDoors(createdElement.cueContent, createdElement);
          } else {
            console.log('Cue not yet ready.');
            createdElement.goElement.className += ' video-control-problem';            
            componentObject.applyStyleFromParentDocument(createdElement.goElement);
          }
        } else {
          console.log('Cue already going');
        }
      });
      
      createdElement.unloadElement.addEventListener('click', function() {
        if (createdElement.cueGoing) {
          createdElement.unloadElement.className += ' video-control-clicked';
          componentObject.applyStyleFromParentDocument(createdElement.unloadElement);
        }
        createdElement.cueGoing = false;
        if (createdElement.lastScheduledEvent !== undefined) {
          clearTimeout(createdElement.lastScheduledEvent);
          createdElement.lastScheduledEvent = undefined;
        }
      });
    }(createdElement);
    
    
    createdElement.jsonTraverse = function (obj, func, createdElement, doNext) {
      for (var i in obj) {
        func.apply(this, [i, obj, createdElement, doNext]);  
        if (obj[i] !== null && typeof(obj[i]) == "object") {
          createdElement.jsonTraverse(obj[i], func, createdElement, doNext);
        }
      }
    }
    
    createdElement.replaceVideoUrl = function (key, obj, createdElement, doNext) {
      if (key === 'videoUrl') {
        if (obj[key] !== '' && obj[key] !== undefined) {
          var urlGroups = (/.*t=([0-9]+).*/g).exec(obj[key]);
          if (urlGroups) {
            obj['startTime'] = parseInt(urlGroups[1]);
          }
          createdElement.youtubeObject.getYoutubeVideoUrl(obj[key], true, function (xhr) {
            obj['videoUrl'] = xhr.responseText;
            createdElement.videoUrlCallbackCnt ++;
            if (createdElement.videoUrlCallbackCnt % 4 == 0) {
              if (doNext) {
                createdElement.publishDoors(createdElement.cueContent, createdElement);
                createdElement.videoUrlCallbackCnt = 0;
              } else {
                createdElement.cueReady = true;
              }
            }
          });
        }
      }
    }
    
    createdElement.fillJsonRandomVideoLinks = function (jsonObj, createdElement) {
      // A1
      if (jsonObj.nodeArgs.nodeA.tReady.doors['0'].composer.pipeline1 !== undefined) {
		var randIdx = Math.floor(Math.random() * createdElement.videoLinks['A'].length);
		jsonObj.nodeArgs.nodeA.tReady.doors['0'].composer.pipeline1.videoUrl = createdElement.videoLinks['A'][randIdx];
      } else {
        console.log('Unexpected json');
      }
      // B1
      if (jsonObj.nodeArgs.nodeB.tReady.doors['0'].composer.pipeline1 !== undefined) {
		var randIdx = Math.floor(Math.random() * createdElement.videoLinks['B'].length);
		jsonObj.nodeArgs.nodeB.tReady.doors['0'].composer.pipeline1.videoUrl = createdElement.videoLinks['B'][randIdx];
      } else {
        console.log('Unexpected json');
      }
      // C1
      if (jsonObj.nodeArgs.nodeC.tReady.doors['0'].composer.pipeline1 !== undefined) {
		var randIdx = Math.floor(Math.random() * createdElement.videoLinks['C'].length);
		jsonObj.nodeArgs.nodeC.tReady.doors['0'].composer.pipeline1.videoUrl = createdElement.videoLinks['C'][randIdx];
      } else {
        console.log('Unexpected json');
      }
      // D1
      if (jsonObj.nodeArgs.nodeD.tReady.doors['0'].composer.pipeline1 !== undefined) {
		var randIdx = Math.floor(Math.random() * createdElement.videoLinks['D'].length);
		jsonObj.nodeArgs.nodeD.tReady.doors['0'].composer.pipeline1.videoUrl = createdElement.videoLinks['D'][randIdx];
      } else {
        console.log('Unexpected json');
      }
    }
    
    createdElement.publishDoors = function (jsonObj, createdElement) {
      var dataName = new Name(createdElement.ndnPublisherComponentObject.namePrefix);
      // Note: for now, the names are hard-coded, since namespace design is not fully discussed
      var cueComponent = new Name('cues');
      var nameSuffix = new Name(createdElement.cueId + '/go');
      dataName.append(createdElement.showid).append(cueComponent).appendVersion((new Date).getTime()).append(nameSuffix);
    
      if (createdElement.ndnPublisherComponentObject.wsOn()) {
        createdElement.goElement.className += ' video-control-clicked';
      } else {
        createdElement.goElement.className += ' video-control-problem';
      }
    
      createdElement.content = JSON.stringify(jsonObj);
      createdElement.ndnPublisherComponentObject.publishContent(dataName, createdElement.content, false);
      createdElement.fillJsonRandomVideoLinks(jsonObj, createdElement);
    
      if (createdElement.cueGoing) {
        createdElement.lastScheduledEvent = setTimeout(function () {
          createdElement.jsonTraverse(createdElement.cueContent, createdElement.replaceVideoUrl, createdElement, true);
        }, 5000);
      }
      
    };

  }
  
  componentObject.createComponent(componentName, onCreate);
</script>

