<template>
    <p></p>
</template>

<script>
    // TODO: This seems to only work in Chrome, verifying.
    
    // chat-control-guide: Chat control component for the guide is an XMPP client
    //   that talks to specific JIDs
    //   
    // @dependency: Strophe.js, jquery
    //
    // @env connection XMPP connection should be established to use this component
    // @env db_session A session with Cassandra database should have been established on the server side
    //
    // @param userJID The chatroom JID on the XMPP host; 
    //    if not specified, the component will talk to all users
    // @param message The message to be sent
    // @param fromNickname This user's nickname in the muc chatroom;
    //    if not specified, the component will look for if defaultMucNickName is defined
    
    (function(window, document, undefined) {
        var thatDoc = document;
        var thisDoc =  (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;
        var template = thisDoc.querySelector('template').content;
        
        var ChatControlGuideElement = Object.create(HTMLElement.prototype);
        
        ChatControlGuideElement.createdCallback = function() {
            var shadowRoot = this.createShadowRoot();
            var clone = thatDoc.importNode(template, true);
            shadowRoot.appendChild(clone);
            
            // We may not want to contain these in a paragraph at some point
            this.innerElement = shadowRoot.querySelector('p');
            
            if (this.hasAttribute('description')) {            
                this.innerElement.textContent = this.getAttribute('description');
            }
            
            if (this.hasAttribute('style')) {
                var style = this.getAttribute('style');
                this.applyStyle(this.innerElement, style);
            }
            else {
                this.applyStyle(this.innerElement, "color:#FFFFFF");
            }
            
            var self = this;
            
            this.innerElement.addEventListener('click', function(){
                console.log('chatControlGuide click called');
                if (connection == undefined || connection == null) {
                    console.log('XMPP connection not established');
                    return;
                }
                var userJID = '';
                if (self.hasAttribute('userJID')) {
                    userJID = self.getAttribute('userJID');
                    console.log('UserJID is specified, unexpected behavior.');
                    return;
                } else {
                    
                }
                var fromNickname = ''
                if (self.hasAttribute('fromNickname')) {
                    fromNickname = self.getAttribute('fromNickname');
                } else {
                    if (window.defaultMucNickName == undefined || window.defaultMucNickName == null || window.defaultMucNickName == '') {
                        console.log('Default nickname not specified; defaultMucNickName definition not found, either');
                        return;
                    } else {
                        fromNickname = defaultMucNickName;
                    }
                }
                var content = '';
                
                if (self.hasAttribute('message')) {
                    content = self.getAttribute('message');
                    
                    /*
                    var matchedResult = content.match(/{{\s+(\w+)\s+}}?/g);
                    
                    // result contains the field names that we should query in 'users' table
                    var fieldArray = [];
                    for (var i = 0; i < matchedResult.length; i++) {
                        fieldArray.push(matchedResult[i].replace(/{{\s+(\w+)\s+}}?/, '$1'));
                    }
                    */
                    
                    var data = new FormData();
                    // Query hard-coded for basic implementation
                    data.append('query', 'select email, user_name, type from users;');

                    var xhr = new XMLHttpRequest();
                    // Note: POST is using hardcoded URL with my test server; server currently set to accept request originated from all.
                    // Note: seems that right now the random video URL should be chosen onLoad, instead of onClick; need to confirm
                    xhr.open('POST', 'http://archive-dev.remap.ucla.edu:5004/query', true);
                    xhr.onload = function () {
                        var result = JSON.parse(this.responseText);
                        if (result !== undefined && result !== null && result.length > 0) {
                            console.log(result);
                            
                            // Note: we'll probably want a model class that reflects the users table schema
                            for (var i = 0; i < result.length; i++) {
                                var contentSent = content.replace(/{{\s+(email)\s+}}?/g, result[i][0])
                                                     .replace(/{{\s+(user_name)\s+}}?/g, result[i][1])
                                                     .replace(/{{\s+(type)\s+}}?/g, result[i][2]);
                            
                                var message = $msg({
                                    // Note: here we also use the jabber account name inference
                                    "to" : result[i][0].replace('@', '.') + '@archive-dev.remap.ucla.edu',
                                    "type" : "chat",
                                    "from_nickname" : fromNickname
                                }).c("body").t(contentSent);
                                
                                connection.send(message.tree()); 
                            }
                        }
                    };
                    xhr.send(data);
                    
                } else {
                    console.log('Message content should not be empty');
                    return;
                }
            });
        };
        ChatControlGuideElement.applyStyle = function(comp, val) {
            // TODO: Figuring out why ("class", val) wouldn't work, while "style" works;
            // Is the sequence of execution of css file load and web component initiate going to matter?
            comp.setAttribute("style", val);
        };
        ChatControlGuideElement.attributeChangedCallback = function(attr, oldVal, newVal) {
            console.log('chatControlMuc onAttributeChanged stub');
        };
        window.chatControlGuideElement = thatDoc.registerElement('com-chat-control-guide', {
            prototype: ChatControlGuideElement
        });
    })(window, document);
</script>