<template>
    <!-- Note: At this point, the character/dialogue class and cursor pointer are hardcoded in 
       - chat component, while additional classes are derived from fromNickname -->
    <p id="guide-character" class="character"></p>
    <p id="guide-dialogue" class="dialogue"></p>
</template>

<script>
  // TODO: This seems to only work in Chrome, verifying.
  // TODO: We'll want more extensive formatting to the clickable dialogue, as an ordinary <a href>; or use <a href directly>
  
  // chat-control-guide: Chat control component for the guide is an XMPP client
  //   that talks to specific JIDs
  //   
  // @dependency: Strophe.js, jquery
  //
  // @env connection XMPP connection should be established to use this component
  // @env db_session A session with Cassandra database should have been established on the server side
  //
  // @param userJID The chatroom JID on the XMPP host; 
  //    if not specified, the component will talk to all users
  // @param message The message to be sent
  // @param fromNickname This user's nickname in the muc chatroom;
  //    if not specified, the component will look for if defaultChatNickName is defined
  var componentObject = new window.ComponentObject(document, window);
  
  function onCreate(createdElement) {
    var characterElement = createdElement.shadowRoot.querySelector('#guide-character');
    var dialogueElement = createdElement.shadowRoot.querySelector('#guide-dialogue');
    
    var userJID = createdElement.getAttributeByListName(['userJID'], '');
    var fromNickname = createdElement.getAttributeByListName(['fromNickname'], window.defaultChatNickName);
    var message = createdElement.getAttributeByListName(['message'], '');
    
    characterElement.textContent = fromNickname.toUpperCase();
    dialogueElement.textContent = message;
    
    characterElement.setAttribute("class", characterElement.getAttribute("class") + " " + createdElement.componentObject.htmlClassFromName(fromNickname));
    dialogueElement.setAttribute("class", dialogueElement.getAttribute("class") + " " + createdElement.componentObject.htmlClassFromName(fromNickname) + "-dialogue");
    
    dialogueElement.addEventListener('click', function(){
      if (connection == undefined || connection == null) {
        console.log('XMPP connection not established');
        return;
      }
      
      // Probably should move {{ user_name }} interpretation to client side; left on server side for now.
      if (message != '') {
        /*
        var matchedResult = content.match(/{{\s+(\w+)\s+}}?/g);
        
        // result contains the field names that we should query in 'users' table
        var fieldArray = [];
        for (var i = 0; i < matchedResult.length; i++) {
            fieldArray.push(matchedResult[i].replace(/{{\s+(\w+)\s+}}?/, '$1'));
        }
        */
        
        var data = new FormData();
        // Query hard-coded for basic implementation; 
        // Note: role won't work yet
        data.append('query', 'select email, username, role from participant;');

        var xhr = new XMLHttpRequest();
        // Note: POST is using hardcoded URL with my test server; server currently set to accept request originated from all.
        // Note: seems that right now the random video URL should be chosen onLoad, instead of onClick; need to confirm
        xhr.open('POST', 'http://archive-dev.remap.ucla.edu/app/query', true);
        xhr.onload = function () {
          var result = JSON.parse(this.responseText);
          if (result !== undefined && result !== null && result.length > 0) {
            // Note: we'll probably want a model class that reflects the users table schema
            for (var i = 0; i < result.length; i++) {
              // The guide only talks to tourists;
              // Note: This is overrided for rehearsal May 14, since the new db does per show role decision
              //if (result[i][2] == 1) {
                var contentSent = message.replace(/{{\s+(email)\s+}}?/g, result[i][0])
                                      .replace(/{{\s+(username)\s+}}?/g, result[i][1])
                                      .replace(/{{\s+(role)\s+}}?/g, result[i][2]);
        
                var chatMsg = $msg({
                    // Note: here we also use the jabber account name inference
                    "to" : result[i][0].replace('@', '.') + '@archive-dev.remap.ucla.edu',
                    "type" : "chat",
                    "from_nickname" : fromNickname
                }).c("body").t(contentSent);
            
                connection.send(chatMsg.tree()); 
              //}
            }
          }
        };
        xhr.send(data);
        
      } else {
        console.log('Message content should not be empty');
        return;
      }
    });
    
    componentObject.applyStyleFromParentDocumentAll(createdElement);
    
    // TODO: This does not treat inheritance correctly yet: generic definition for element type, such as 'p', 
    // and element type belonging to a class, such as '.dual-dialogue p' are not treated correctly
    // Chat dual dialogue is the reason why applyStyleFromParentDocumentAll is not in the generalized create function
    var tempNode = createdElement.parentNode;
    while (tempNode) {
      if (tempNode.className && tempNode.className.indexOf("dual-dialogue") >= 0) {
        var dualDialogueStyle = componentObject.getStyle('.dual-dialogue p');
        componentObject.copyStyleToElement(dualDialogueStyle.style, characterElement);
        componentObject.copyStyleToElement(dualDialogueStyle.style, dialogueElement);
      
        var dualDialogueCharacterStyle = componentObject.getStyle('.dual-dialogue .character');
        componentObject.copyStyleToElement(dualDialogueCharacterStyle.style, characterElement);
      
        break;
      }
      tempNode = tempNode.parentNode;
    }
  }
    
  componentObject.createComponent('com-chat-control-guide', onCreate);  
</script>