<template>
  <p id="cue-title" class="video-control-text"></p>
  <p id="cue-description" class="video-control-desc"></p>
  <p id="cue-chunk" class="video-control-chunk"></p>
</template>

<script>
  var componentObject = new window.ComponentObject(document, window);
  var componentName = 'com-cue-publisher';
  
  function onCreate(createdElement) {
    createdElement.ndnPublisherComponentObject = new window.NDNPublisherComponentObject(createdElement, window);
    createdElement.ndnPublisherComponentObject.parseParameters();
    
    createdElement.youtubeObject = new window.YoutubeObject();
    
    var showid = createdElement.getAttributeByListName(['showid'], window.showid);
    var cueTitle = createdElement.getAttributeByListName(['cueTitle', 't'], '');
    var description = createdElement.getAttributeByListName(['description', 'desc'], '');
    var content = createdElement.getAttributeByListName(['content'], '');
    var cueId = createdElement.getAttributeByListName(['cid'], '-1');
    
    var titleElement = createdElement.shadowRoot.querySelector('#cue-title');
    var descElement = createdElement.shadowRoot.querySelector('#cue-description');
    var chunkElement = createdElement.shadowRoot.querySelector('#cue-chunk');
    
    titleElement.textContent = cueTitle;
    descElement.textContent = description;
    
    componentObject.applyStyleFromParentDocumentAll(createdElement);
    
    // Preview display is disabled because most of the cues don't have the old JSON format url1
    /*
    try {
      var cueContent = JSON.parse(this.content);
    
      titleElement.addEventListener('mouseover', function() {
        // Note: after the cue publishing discussion, it's possible that URL's not exposed here; 
        // getting rid of the preview temporarily
        if (cueContent.yt1 != undefined && cueContent.yt1.URL != undefined) {
          chunkElement.innerHTML = '<img src=\"http://img.youtube.com/vi/' + createdElement.youtubeObject.youtubeKeyParser(cueContent.yt1.URL) + '/0.jpg\"></img>';
        } else {
          console.log(componentName + ': no video url provided for this cue');
        }
      });
    
      titleElement.addEventListener('mouseout', function() {
        chunkElement.innerHTML = '';
      });
    } catch (error) {
      console.log(componentName + ' : ' + error);
    }
    */
    
    titleElement.addEventListener('click', function() {
      // TODO: referencing namePrefix like this is not ideal
      var dataName = new Name(createdElement.ndnPublisherComponentObject.namePrefix);
      // Note: for now, the names are hard-coded, since namespace design is not fully discussed
      var cueComponent = new Name('cues');
      var nameSuffix = new Name(cueId);
      dataName.append(showid).append(cueComponent).appendVersion((new Date).getTime()).append(nameSuffix);

      createdElement.ndnPublisherComponentObject.publishContent(dataName, content, false);
    });
  }
  
  componentObject.createComponent(componentName, onCreate);
</script>