<template>
  <p id="cue-title" class="video-control-text"></p>
  <p id="cue-description" class="video-control-desc"></p>
  <p id="cue-chunk" class="video-control-chunk"></p>
</template>

<script>
  var componentObject = new window.ComponentObject(document, window);
  var componentName = 'com-cue-publisher-intercut-random';
  
  function onCreate(createdElement) {
    var showid = createdElement.getAttributeByListName(['showid'], window.showid);
    var cueTitle = createdElement.getAttributeByListName(['cueTitle', 't'], '');
    var description = createdElement.getAttributeByListName(['description', 'desc'], '');
    var content = createdElement.getAttributeByListName(['content'], '');
    var cueId = createdElement.getAttributeByListName(['cid'], '-1');
    
    var titleElement = createdElement.shadowRoot.querySelector('#cue-title');
    var descElement = createdElement.shadowRoot.querySelector('#cue-description');
    var chunkElement = createdElement.shadowRoot.querySelector('#cue-chunk');
    
    var ndnPublisherComponentObject = new window.NDNPublisherComponentObject(createdElement, window);
    // TODO: Consider merging parseParameters to constructor of NDNPublisherComponentObject
    ndnPublisherComponentObject.parseParameters();
    
    titleElement.textContent = cueTitle;
    descElement.textContent = description;
    
    createdElement.running = false;
    createdElement.lastUrl = '';
    createdElement.thisUrl = '';
      
    createdElement.getRandomTimeout = function (low, range) {
      if (low === undefined) {
        low = 5000;
      }
      if (range === undefined) {
        range = 5000;
      }
      return Math.floor(Math.random() * range) + low;
    };
    
    createdElement.publishRandom = function() {
      if (createdElement.running) {
        var dataName = new Name(ndnPublisherComponentObject.namePrefix);
        var cueComponent = new Name('cues');
        var nameSuffix = new Name(cueId);
    
        dataName.append(showid).append(cueComponent).appendVersion((new Date).getTime()).append(nameSuffix);
    
        // Try load a different url each time, expected a list of more than 1 videos
        var randIndex = Math.floor(Math.random() * createdElement.videoLinks.length);
        while (createdElement.thisUrl != '' && createdElement.lastUrl == this.thisUrl) {
          randIndex = Math.floor(Math.random() * createdElement.videoLinks.length);
          createdElement.thisUrl = createdElement.videoLinks[randIndex];
        }
        createdElement.thisUrl = createdElement.videoLinks[randIndex];
        createdElement.lastUrl = createdElement.thisUrl;
    
        var content = '{\"yt1\": {\"URL\": \"https://www.youtube.com/watch?v=' + createdElement.lastUrl + '\"}}';
        ndnPublisherComponentObject.publishContent(dataName, content, false);
      
        setTimeout(createdElement.publishRandom, createdElement.getRandomTimeout());
      } else {
        console.log('Scheduled event: currently stopped.');
      }
    };
    
    titleElement.addEventListener('click', function() {
      if (!createdElement.running) {
        titleElement.textContent = 'Stop: ' + cueTitle;
        setTimeout(createdElement.publishRandom, createdElement.getRandomTimeout(0, 0));
        createdElement.running = true;
      } else {
        titleElement.textContent = 'Start: ' + cueTitle;
        createdElement.running = false;
      }
    });
    
    createdElement.youtubeObject = new window.YoutubeObject('AIzaSyDCjPW8n_9MgGcEAYVPMmuO_sJ3a7jLe5M');
    createdElement.videoLinks = [];
    createdElement.youtubeObject.requestYoutubeItem({
      'query': 'search',
      'part': 'snippet,id',
      'channelId': 'UCdHYVYRpXuWedoj71N2TcQg',
      'videoIdPath': 'id.videoId',
      'maxResults': '20'
    }, undefined, createdElement.videoLinks, undefined);
  
    componentObject.applyStyleFromParentDocumentAll(createdElement);
  }
  
  componentObject.createComponent(componentName, onCreate);
</script>