<template>
  <p id="cue-title" class="video-control-text"></p>
  
  <p style="margin:1.3em auto; width: 400px">
  <a id="cue-load" class="video-control-text"></a>
  <a id="cue-go" class="video-control-text"></a>
  <!--
  <a id="cue-unload" class="video-control-text"></a>
  -->
  </p>
  
  <p id="cue-description" class="video-control-desc"></p>
  <p id="cue-chunk" class="video-control-chunk"></p>
</template>

<script>
  var componentObject = new window.ComponentObject(document, window);
  var componentName = 'com-cue-publisher';
  
  function onCreate(createdElement) {
    createdElement.ndnPublisherComponentObject = new window.NDNPublisherComponentObject(createdElement, window);
    createdElement.ndnPublisherComponentObject.parseParameters();
    
    createdElement.youtubeObject = new window.YoutubeObject();
    
    var defaultShowId = 'default-show';
    if (window.hasOwnProperty('showid')) {
      defaultShowId = window.showid;
    }
    
    createdElement.showid = createdElement.getAttributeByListName(['showid'], defaultShowId);
    var cueTitle = createdElement.getAttributeByListName(['cueTitle', 't'], '');
    var description = createdElement.getAttributeByListName(['description', 'desc'], '');
    
    var sendServiceUrl = createdElement.getAttributeByListName(['sendServiceUrl'], 'false');
    if (sendServiceUrl === 'true') {
      createdElement.sendServiceUrl = true;
    } else {
      createdElement.sendServiceUrl = false;
    }
    
    var defaultCueFolder = 'cues/';
    if (window.hasOwnProperty('cueFolder')) {
      defaultCueFolder = window.cueFolder;
    }
    var cueFolder = createdElement.getAttributeByListName(['cueFolder'], defaultCueFolder);
    
    createdElement.content = createdElement.getAttributeByListName(['content'], '');
    createdElement.cueId = createdElement.getAttributeByListName(['cid'], '-1');
    createdElement.cueReady = false;
    
    createdElement.titleElement = createdElement.shadowRoot.querySelector('#cue-title');
    createdElement.descElement = createdElement.shadowRoot.querySelector('#cue-description');
    createdElement.chunkElement = createdElement.shadowRoot.querySelector('#cue-chunk');
    
    createdElement.loadElement = createdElement.shadowRoot.querySelector('#cue-load');
    createdElement.goElement = createdElement.shadowRoot.querySelector('#cue-go');
    //createdElement.unloadElement = createdElement.shadowRoot.querySelector('#cue-unload');
    
    createdElement.titleElement.textContent = createdElement.cueId + ' : ' + cueTitle;
    createdElement.descElement.textContent = description;
    
    createdElement.loadElement.textContent = 'stand by';
    createdElement.goElement.textContent = 'go';
    //createdElement.unloadElement.textContent = 'unload';
    
    componentObject.applyStyleFromParentDocumentAll(createdElement);
    
    // If content is not defined explicitly in the script, we try to load the content JSON from a certain spot on serverside.
    // Note: The cue will not be ready if 1. no explicit content given and 2. json file does not exist.
    
    // TODO: Load the JSON file on 'load' click
    if (createdElement.content === undefined || createdElement.content == '') {
      var xhr = new XMLHttpRequest();
      xhr.open('GET', cueFolder + createdElement.cueId + '.json', true);
      xhr.onreadystatechange = function () {
        if (xhr.readyState == 4 && xhr.status == 200) {
          if (!createdElement.sendServiceUrl) {
            try {
              if (xhr.responseText != '') {
                createdElement.cueContent = JSON.parse(xhr.responseText);
                createdElement.videoUrlCallbackCnt = 0;
                
                createdElement.traverseDone = false;
                createdElement.firstUrl = '';
                
                jsonTraverse(createdElement.cueContent, replaceVideoUrl, createdElement);
                if (createdElement.firstUrl === '') {
                  // if we have the cue file, but the cue file does not have valid url, we don't have anything
                  // to replace in the JSON, and the cue is ready to go as-is.
                  createdElement.cueReady = true;
                  createdElement.content = xhr.responseText;
                } else {
                  // TODO: register preview onmouseover function
                }
                createdElement.traverseDone = true;
              } else {
                createdElement.content = xhr.responseText;
                createdElement.cueReady = true;
              }
            } catch (error) {
              console.log(componentName + ' : ' + error + ' ');
            }
          } else {
            createdElement.content = xhr.responseText;
            createdElement.cueReady = true;
          }
        }
      };
      xhr.send();
    } else {
      createdElement.cueReady = true;
      if (!createdElement.sendServiceUrl) {
        console.log('Warning: ' + componentName + ' : explicit content overrides sendServiceUrl flag to true');
      }
    }
    
    registerEvents(createdElement);
  }
  
  function jsonTraverse(obj, func, createdElement) {
    for (var i in obj) {
      func.apply(this, [i, obj, createdElement]);  
      if (obj[i] !== null && typeof(obj[i]) == "object") {
        jsonTraverse(obj[i], func, createdElement);
      }
    }
  }
  
  // TODO: first valid entry for 'url' should provide basis for preview image generation; conform with explicit content parameter?
  function replaceVideoUrl(key, obj, createdElement) {
    if (key === 'url') {
      if (obj[key] !== '') {
        if (createdElement.firstUrl === '') {
          createdElement.firstUrl = obj[key];
        }
        createdElement.videoUrlCallbackCnt ++;
        var urlGroups = (/.*t=([0-9]+).*/g).exec(obj[key]);
        if (urlGroups) {
          obj['startTime'] = parseInt(urlGroups[1]);
        }
        createdElement.youtubeObject.getYoutubeVideoUrl(obj[key], true, function (xhr) {
          obj['videoUrl'] = xhr.responseText;
          delete obj[key];
          createdElement.videoUrlCallbackCnt --;
          
          if (createdElement.traverseDone && createdElement.videoUrlCallbackCnt == 0) {
            createdElement.content = JSON.stringify(createdElement.cueContent);
            createdElement.cueReady = true;
          }
        });
      }
    }
  }
  
  function registerEvents(createdElement) {
    // Preview display is disabled because most of the cues don't have the old JSON format url1
    /*
    try {
      var cueContent = JSON.parse(createdElement.content);
      
      createdElement.titleElement.addEventListener('mouseover', function() {
        // Note: after the cue publishing discussion, it's possible that URL's not exposed here; 
        // getting rid of the preview temporarily
        if (cueContent.yt1 != undefined && cueContent.yt1.URL != undefined) {
          createdElement.chunkElement.innerHTML = '<img src=\"http://img.youtube.com/vi/' + createdElement.youtubeObject.youtubeKeyParser(cueContent.yt1.URL) + '/0.jpg\"></img>';
        } else {
          console.log(componentName + ': no video url provided for this cue');
        }
      });
    
      createdElement.titleElement.addEventListener('mouseout', function() {
        createdElement.chunkElement.innerHTML = '';
      });
    } catch (error) {
      console.log(componentName + ' : ' + error);
    }
    */
    
    // This is the old publisher function
    createdElement.titleElement.addEventListener('click', function() {
      // TODO: referencing namePrefix like this is not ideal
      if (createdElement.cueReady) {
        var dataName = new Name(createdElement.ndnPublisherComponentObject.namePrefix);
        // Note: for now, the names are hard-coded, since namespace design is not fully discussed
        var cueComponent = new Name('cues');
        var nameSuffix = new Name(createdElement.cueId);
        dataName.append(createdElement.showid).append(cueComponent).appendVersion((new Date).getTime()).append(nameSuffix);

        createdElement.ndnPublisherComponentObject.publishContent(dataName, createdElement.content, false);
      } else {
        console.log('Warning: Cue content still being loaded');
      }
    });
    
    // This is a quick modification for test on May 12, as the patch expects commands to be published for cues.
    // TODO: update this with state publisher to make state publisher take 0 or -1 time
    createdElement.loadElement.addEventListener('click', function() {
      // TODO: referencing namePrefix like this is not ideal
      if (createdElement.cueReady) {
    
        var dataName = new Name(createdElement.ndnPublisherComponentObject.namePrefix);
        // Note: for now, the names are hard-coded, since namespace design is not fully discussed
        var cueComponent = new Name('cues');
        var nameSuffix = new Name(createdElement.cueId + '/load');
        dataName.append(createdElement.showid).append(cueComponent).appendVersion((new Date).getTime()).append(nameSuffix);

        createdElement.ndnPublisherComponentObject.publishContent(dataName, createdElement.content, false);
      } else {
        console.log('Warning: Cue content still being loaded');
      }
    });
    
    createdElement.goElement.addEventListener('click', function() {
      // TODO: referencing namePrefix like this is not ideal
      var dataName = new Name(createdElement.ndnPublisherComponentObject.namePrefix);
      // Note: for now, the names are hard-coded, since namespace design is not fully discussed
      var cueComponent = new Name('cues');
      var nameSuffix = new Name(createdElement.cueId + '/go');
      dataName.append(createdElement.showid).append(cueComponent).appendVersion((new Date).getTime()).append(nameSuffix);

      createdElement.ndnPublisherComponentObject.publishContent(dataName, createdElement.content, false);
    });
    
    /*
    createdElement.unloadElement.addEventListener('click', function() {
      // TODO: referencing namePrefix like this is not ideal
      var dataName = new Name(createdElement.ndnPublisherComponentObject.namePrefix);
      // Note: for now, the names are hard-coded, since namespace design is not fully discussed
      var cueComponent = new Name('cues');
      var nameSuffix = new Name(createdElement.cueId + '/unload');
      dataName.append(createdElement.showid).append(cueComponent).appendVersion((new Date).getTime()).append(nameSuffix);

      createdElement.ndnPublisherComponentObject.publishContent(dataName, '{}', false);
    });
    */
  }
  
  componentObject.createComponent(componentName, onCreate);
</script>