<template>
  <p id="cue-title" class="video-control-text"></p>
  <p id="cue-description" class="video-control-desc"></p>
  <p id="cue-chunk" class="video-control-chunk"></p>
</template>

<script>
  (function(window, document, undefined) {
    var thatDoc = document;
    var thisDoc =  (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;
    var template = thisDoc.querySelector('template').content;
     
    var componentName = 'com-cue-publisher';
    
    var element = Object.create(HTMLElement.prototype);
    
    element.createdCallback = function() {
      this.shadowRoot = this.createShadowRoot();
      var clone = thatDoc.importNode(template, true);
      this.shadowRoot.appendChild(clone);
      
      this.componentObject = new window.ComponentObject(this.shadowRoot, window);
      
      // Append thisDoc to parent's importedDocs:
      // Note: This assumes the knowledge of window's scriptControl element name
      if (window.scriptControl.importedElements != undefined) {
        window.scriptControl.importedElements.push(this);
      }
      
      /**
       * Duplicate of code from ndn-url-publisher-component.js: 
       * ndn environment parameter processing 
       */
      // TODO: Face setup's different from the online version, which hardcoded the server's IP address.
      if (this.hasAttribute('face')) {
        this.face = this.getAttribute('face');
      } else if (window.face !== undefined && window.face !== null) {
        this.face = window.face;
      } else {
        console.log(componentName + ': face is not defined, creating new one for window');
        window.face = new Face();
        this.face = window.face;
      }
 
      if (this.hasAttribute('prefix')) {
        this.namePrefix = this.getAttribute('prefix');
      } else if (window.prefix !== undefined && window.prefix !== null) {
        this.namePrefix = window.prefix;
      } else {
        console.log(componentName + ': prefix is not defined for sunset URL publishing, creating default name for window');
        window.prefix = new Name(ndnPrefix);
        this.namePrefix = window.prefix;
      }
 
      if (this.hasAttribute('memoryContentCache')) {
        this.memoryContentCache = this.getAttribute('memoryContentCache');
      } else if (window.memoryContentCache !== undefined && window.memoryContentCache !== null) {
        this.memoryContentCache = window.memoryContentCache;
      } else {
        console.log(componentName + ': memoryContentCache is not defined, creating new one for window');
        window.memoryContentCache = new MemoryContentCache(this.face);
        this.memoryContentCache = window.memoryContentCache;
      }
 
      var registeredPrefix = this.face.getEntryForRegisteredPrefix(this.namePrefix);
      if (registeredPrefix == null || registeredPrefix == 0) {
        console.log("registeredPrefix is not found on Face, reregistering default prefix");
        this.memoryContentCache.registerPrefix(this.namePrefix, function (prefix) {
        console.log("Register failed for prefix.");
        });
      }
 
      if (this.hasAttribute('showid')) {
        this.showid = this.getAttribute('showid');
      } else if (window.showid !== undefined && window.showid !== null) {
        this.showid = window.showid;
      } else {
        console.log(componentName + ': showid is not defined for sunset URL publishing, creating default for window');
        window.showid = 'default';
        this.showid = window.showid;
      }
      
      /**
       * Unique code for cue publishing
       *
       * Using youtube's video key, video details can be fetched:
       * https://www.googleapis.com/youtube/v3/videos?part=snippet,contentDetails,statistics,status&key=AIzaSyDCjPW8n_9MgGcEAYVPMmuO_sJ3a7jLe5M&id=QEb6ANksXCs
       */
      // this.title is reserved for something else
      this.cueTitle = '';
      
      this.titleElement = this.shadowRoot.querySelector('#cue-title');
      this.descElement = this.shadowRoot.querySelector('#cue-description');
      this.chunkElement = this.shadowRoot.querySelector('#cue-chunk');
      
      /**
       * TODO: generalize this to put apply style for all web components with one call.
       */
      this.componentObject.applyStyleFromParentDocument(this.titleElement);
      this.componentObject.applyStyleFromParentDocument(this.descElement);
      this.componentObject.applyStyleFromParentDocument(this.chunkElement);

      if (this.hasAttribute('cueTitle')) {
        this.cueTitle = this.getAttribute('cueTitle');
      } else if (this.hasAttribute('t')) {
        this.cueTitle = this.getAttribute('t');
      }
      
      if (this.cueTitle != '') {
        this.titleElement.textContent = this.cueTitle;
      } else {
        console.log(componentName + ' : cueTitle(clickable link) empty');
        return;
      }
      
      this.description = '';
      
      if (this.hasAttribute('description')) {
        this.description = this.getAttribute('description');
      } else if (this.hasAttribute('desc')) {
        this.description = this.getAttribute('desc');
      }
      
      this.descElement.textContent = this.description;
      
      var self = this;
      
      if (this.hasAttribute('content')) {
        this.content = this.getAttribute('content');
        
        try{
          var cueContent = JSON.parse(this.content);
          
          this.youtubeKeyParser = function (url) {
            var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
            var match = url.match(regExp);
            if (match && match[7].length == 11){
              return match[7];
            } else {
              alert("Youtube video url incorrect");
            }
          }

          this.titleElement.addEventListener('mouseover', function() {
            if (cueContent.yt1 != undefined && cueContent.yt1.URL != undefined) {
              self.chunkElement.innerHTML = '<img src=\"http://img.youtube.com/vi/' + self.youtubeKeyParser(cueContent.yt1.URL) + '/0.jpg\"></img>';
            } else {
              console.log(componentName + ': no video url provided for this cue');
            }
          });
    
          this.titleElement.addEventListener('mouseout', function() {
            self.chunkElement.innerHTML = '';
          });

          this.titleElement.addEventListener('click', function() {
            self.cueId = '0';
            if (self.hasAttribute('cid')) {
              self.cueId = self.getAttribute('cid');
            }
            
            var data = new Data(self.namePrefix);
            // Note: for now, the names are hard-coded, since namespace design is not fully discussed
            var cueComponent = new Name('cues');
            var nameSuffix = new Name(self.cueId);
            data.getName().append(self.showid).append(cueComponent).appendVersion((new Date).getTime()).append(nameSuffix);
              
            // TODO: decide content format
            data.setContent(self.content);
              
            // TODO: Arbitrary data freshness period
            data.getMetaInfo().setFreshnessPeriod(2000);
            data.sign();
      
            self.memoryContentCache.add(data);
            console.log('NDN content published. Name: ' + data.getName().toUri() + '; Content: ' + data.getContent().buf().toString());      
          });
          
        } catch (error) {
          console.log(componentName + ' ' + error);
        }

      } else {
        console.log(componentName + ': content empty');
        return;
      }
    };
    
    thatDoc.registerElement(componentName, {
      prototype: element
    });
  })(window, document);
</script>