<template>
  <p id="cue-title" class="video-control-text"></p>
  <p id="cue-description" class="video-control-desc"></p>
  <p id="cue-chunk" class="video-control-chunk"></p>
</template>

<script>
  (function(window, document, undefined) {
    var thatDoc = document;
    var thisDoc =  (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;
    var template = thisDoc.querySelector('template').content;
     
    var componentName = 'com-cue-publisher-state';
    
    var element = Object.create(HTMLElement.prototype);
    
    element.createdCallback = function() {
      this.shadowRoot = this.createShadowRoot();
      var clone = thatDoc.importNode(template, true);
      this.shadowRoot.appendChild(clone);
      
      this.componentObject = new window.ComponentObject(this, window);
      this.ndnPublisherComponentObject = new window.NDNPublisherComponentObject(this, window);
      
      // Append thisDoc to parent's importedDocs:
      // Note: This assumes the knowledge of window's scriptControl element name
      if (window.scriptControl.importedElements != undefined) {
        window.scriptControl.importedElements.push(this);
      }
      
      this.ndnPublisherComponentObject.parseParameters();
      
      if (this.hasAttribute('showid')) {
        this.showid = this.getAttribute('showid');
      } else if (window.showid !== undefined && window.showid !== null) {
        this.showid = window.showid;
      } else {
        console.log(componentName + ': showid is not defined for sunset URL publishing, creating default for window');
        window.showid = 'default';
        this.showid = window.showid;
      }
      
      /**
       * Unique code for stated publishing
       *
       * Using youtube's video key, video details can be fetched:
       * https://www.googleapis.com/youtube/v3/videos?part=snippet,contentDetails,statistics,status&key=AIzaSyDCjPW8n_9MgGcEAYVPMmuO_sJ3a7jLe5M&id=QEb6ANksXCs
       */
      // this.title is reserved for something else
      this.cueTitle = '';
      
      this.titleElement = this.shadowRoot.querySelector('#cue-title');
      this.descElement = this.shadowRoot.querySelector('#cue-description');
      this.chunkElement = this.shadowRoot.querySelector('#cue-chunk');
      
      /**
       * TODO: generalize this to put apply style for all web components with one call.
       */
      this.componentObject.applyStyleFromParentDocument(this.titleElement);
      this.componentObject.applyStyleFromParentDocument(this.descElement);
      this.componentObject.applyStyleFromParentDocument(this.chunkElement);

      if (this.hasAttribute('cueTitle')) {
        this.cueTitle = this.getAttribute('cueTitle');
      } else if (this.hasAttribute('t')) {
        this.cueTitle = this.getAttribute('t');
      }
      
      if (this.cueTitle != '') {
        this.titleElement.textContent = this.cueTitle;
      } else {
        console.log(componentName + ' : cueTitle(clickable link) empty');
        return;
      }
      
      this.description = '';
      
      if (this.hasAttribute('description')) {
        this.description = this.getAttribute('description');
      } else if (this.hasAttribute('desc')) {
        this.description = this.getAttribute('desc');
      }
      
      this.descElement.textContent = this.description;
      
      var self = this;
      
      // Temp code for stated publishing
      if (this.hasAttribute('state')) {
        var jsExpression = this.componentObject.desanitizeText(this.getAttribute('state'));
        // TODO: This way of passing arbitrary JS is not ideal; even if we keep this, we should catch the expection
        eval("var states = " + jsExpression);
        if (states !== undefined) {
          this.cueObject = new window.CueObject(states);
          
          for (key in states) {
            var triggerPara = document.createElement("p");
            var triggerNode = document.createTextNode(key);
            triggerPara.id = 'state-' + key;
            triggerPara.className += 'video-control-text';
            triggerPara.appendChild(triggerNode);
            
            // TODO: This specific function should be generalized
            triggerPara.addEventListener('click', function(cmd) {
              return function() {
                self.cueId = '0';
                if (self.hasAttribute('cid')) {
                  self.cueId = self.getAttribute('cid');
                }
      
                var dataName = new Name(self.ndnPublisherComponentObject.namePrefix);
                var cueComponent = new Name('cues');
                var nameSuffix = new Name(self.cueId);
                
                nameSuffix.append(cmd);
                dataName.append(self.showid).append(cueComponent).appendVersion((new Date).getTime()).append(nameSuffix);
                
                var content = '{\"yt1\": {\"URL\": \"https://www.youtube.com/watch?v=' + self.videoLinks[Math.floor((Math.random() * self.videoLinks.length))] + '\"}}';
                self.ndnPublisherComponentObject.publishContent(dataName, content, false);
              }
            }(key));
            
            this.shadowRoot.appendChild(triggerPara);
            this.componentObject.applyStyleFromParentDocument(triggerPara);
          }
          
          if (states['pause'] == undefined && states['resume'] == undefined) {
            this.paused = false;
            
            var triggerPara = document.createElement("p");
            var triggerNode = document.createTextNode('pause');
            triggerPara.id = 'state-pause-resume';
            triggerPara.className += 'video-control-text';
            triggerPara.appendChild(triggerNode);
            
            triggerPara.addEventListener('click', function(para) {
              return function() {
                if (!self.paused) {
                  self.cueObject.pause();
                  para.innerText = 'resume';
                  self.paused = true;
                } else {
                  self.cueObject.resume();
                  para.innerText = 'pause';
                  self.paused = false;
                }
              }
            }(triggerPara));

            this.shadowRoot.appendChild(triggerPara);
            this.componentObject.applyStyleFromParentDocument(triggerPara);
          }
          
          if (states['stop'] == undefined) {
            var triggerPara = document.createElement("p");
            var triggerNode = document.createTextNode('stop');
            triggerPara.className += 'video-control-text';
            triggerPara.appendChild(triggerNode);
            triggerPara.id = 'state-stop';
            triggerPara.addEventListener('click', function() {
              self.cueObject.stop();
            });

            this.shadowRoot.appendChild(triggerPara);
            this.componentObject.applyStyleFromParentDocument(triggerPara);
          }
        }
        
        this.titleElement.addEventListener('click', function() {
          self.cueObject.run();
        });
        
        // This function's for quick test on May 5
        this.requestYoutubePlaylist = function(playlistId, nextPageToken, videoLinks, apiKey, cntStart) {
          var listRequest = new XMLHttpRequest();
          var videoCnt = cntStart;
      
          listRequest.onreadystatechange = function() {
            if (listRequest.readyState==4 && listRequest.status==200) {
              var result = JSON.parse(listRequest.responseText);
              var videoSeq = {};
              for (var i = 0; i < result.items.length; i++) {
                // could there be same video occurring twice in a playlist?
                videoSeq[result.items[i].contentDetails.videoId] = videoCnt;
                videoCnt ++;
                
                videoLinks.push(result.items[i].contentDetails.videoId);
              }
          
              if (result.nextPageToken != undefined && result.nextPageToken != null) {
                self.requestYoutubePlaylist(playlistId, result.nextPageToken, videoLinks, apiKey, videoCnt);
              } else {
                self.videoCnt = videoCnt;
              }
            }
          }
          // TODO: API key is hard coded in the function at this point
          var url = 'https://www.googleapis.com/youtube/v3/playlistItems?part=contentDetails&playlistId=' + playlistId + '&key=' + apiKey;
          if (nextPageToken != undefined) {
            url += '&pageToken=' + nextPageToken;
          }
          listRequest.open('GET', url, true);
          listRequest.send();
        };
        
        this.playlistId = 'PLjardEiAzhrqARf5iNO0SLUiC_c0XquV_';
        this.videoLinks = [];
        this.apiKey = 'AIzaSyDCjPW8n_9MgGcEAYVPMmuO_sJ3a7jLe5M';
        this.requestYoutubePlaylist(this.playlistId, undefined, this.videoLinks, this.apiKey, 0);
      }
    };
    
    thatDoc.registerElement(componentName, {
      prototype: element
    });
  })(window, document);
</script>