<template>
  <p id="cue-title" class="cue-title"></p>
  
  <p style="margin:1.3em auto; width: 400px">
    <a id="cue-load" class="video-control-text"></a>
    <a id="cue-go" class="video-control-text text-large"></a>
  </p>
  
  <p id="cue-description" class="video-control-desc"></p>
  <p id="cue-chunk" class="video-control-chunk"></p>
</template>

<script>
  var componentObject = new window.ComponentObject(document, window);
  var componentName = 'com-dance-party-dynamic-cue';
  
  function onCreate(createdElement) {
    createdElement.ndnPublisherComponentObject = new window.NDNPublisherComponentObject(createdElement, window);
    createdElement.ndnPublisherComponentObject.parseParameters();
    
    createdElement.youtubeObject = new window.YoutubeObject();
    createdElement.dbObject = new window.DBObject('http://archive-dev.remap.ucla.edu/app');
    
    // This show-id in NDN name is different from the show-id field in database
    var defaultShowId = 'default-show';
    if (window.hasOwnProperty('showid')) {
      defaultShowId = window.showid;
    }
    
    createdElement.showid = createdElement.getAttributeByListName(['showid'], defaultShowId);
    var cueTitle = createdElement.getAttributeByListName(['cueTitle', 't'], '');
    var description = createdElement.getAttributeByListName(['description', 'desc'], '');
    
    // The number of videos we pick from each neighborhood query to form the playlist
    var resultLength = createdElement.getAttributeByListName(['playlistLength', 'l'], '3');
    
    createdElement.content = createdElement.getAttributeByListName(['content'], '');
    if (createdElement.content !== '') {
      console.log(componentName + ': content definition exists for dynamic cue.');
    }
    
    createdElement.cueId = createdElement.getAttributeByListName(['cid'], '-1');
    createdElement.cueReady = false;
    
    createdElement.titleElement = createdElement.shadowRoot.querySelector('#cue-title');
    createdElement.descElement = createdElement.shadowRoot.querySelector('#cue-description');
    createdElement.chunkElement = createdElement.shadowRoot.querySelector('#cue-chunk');
    
    createdElement.loadElement = createdElement.shadowRoot.querySelector('#cue-load');
    createdElement.goElement = createdElement.shadowRoot.querySelector('#cue-go');
    //createdElement.unloadElement = createdElement.shadowRoot.querySelector('#cue-unload');
    
    createdElement.titleElement.textContent = createdElement.cueId + ' : ' + cueTitle;
    createdElement.descElement.textContent = description;
    
    createdElement.loadElement.textContent = 'stand by';
    createdElement.goElement.textContent = 'GO';
    
    componentObject.applyStyleFromParentDocumentAll(createdElement);
    
    var resultLength = 25;
    createdElement.videoLinks = [];
    
    var url = createdElement.youtubeObject.requestYoutubeItem({
      'query': 'search',
      'part': 'snippet',
      'q': 'los angeles party dance',
      'type': 'video',
      'videoDuration': 'short',
      'lclk': 'creativecommons',
      'maxResults': resultLength
    }, undefined, undefined, function (searchResponse) {
      if (searchResponse.items.length > 0) {
        var jsonElement = {};
        for (var i = 0; i < searchResponse.items.length; i++) {
          createdElement.videoLinks.push({'url': 'https://www.youtube.com/watch?v=' + searchResponse.items[i].id.videoId});
        }
      }
      
      createdElement.videoUrlCallbackCnt = 0;
      createdElement.jsonTraverse(createdElement.videoLinks, createdElement.replaceVideoUrl, createdElement);
    }, undefined, true);
    
    if (createdElement.content === undefined || createdElement.content == '') {
      var xhr = new XMLHttpRequest();
      xhr.open('GET', cueFolder + createdElement.cueId + '.json', true);
      xhr.onreadystatechange = function () {
        if (xhr.readyState == 4 && xhr.status == 200) {
          createdElement.cueContent = JSON.parse(xhr.responseText);
        }
      };
      xhr.send();
    }
    
    createdElement.publishRandom = function (createdElement) {
      // TODO: referencing namePrefix like this is not ideal
      var dataName = new Name(createdElement.ndnPublisherComponentObject.namePrefix);
      // Note: for now, the names are hard-coded, since namespace design is not fully discussed
      var cueComponent = new Name('cues');
      var nameSuffix = new Name(createdElement.cueId + '/go');
      dataName.append(createdElement.showid).append(cueComponent).appendVersion((new Date).getTime()).append(nameSuffix);
    
    
      for (node in createdElement.cueContent.nodeArgs) {
        if (createdElement.cueContent.nodeArgs[node].tReady.doors['0'].composer.pipeline1.url !== undefined) {
          var randIdx = Math.floor(Math.random() * createdElement.videoLinks.length);
          createdElement.cueContent.nodeArgs[node].tReady.doors['0'].composer.pipeline1['videoUrl'] = createdElement.videoLinks[randIdx]['videoUrl'];
          delete createdElement.cueContent.nodeArgs[node].tReady.doors['0'].composer.pipeline1.url;
        } else {
          console.log('Unexpected json');
        }
      }
      createdElement.content = JSON.stringify(createdElement.cueContent);
      createdElement.ndnPublisherComponentObject.publishContent(dataName, createdElement.content, false);
    
      setTimeout(function () {
        createdElement.publishRandom(createdElement);
      }, 2000);
    }
    
    createdElement.registerEvents = function (createdElement) {
      // This is a quick modification for test on May 12, as the patch expects commands to be published for cues.
      // TODO: update this with state publisher to make state publisher take 0 or -1 time
      createdElement.loadElement.addEventListener('click', function() {
        // TODO: referencing namePrefix like this is not ideal
        if (createdElement.cueReady) {
          console.log('Load does not do anything');
        }
      });
    
      createdElement.goElement.addEventListener('click', function() {
        createdElement.publishRandom(createdElement);
      
        createdElement.goElement.className += ' video-control-clicked';
        componentObject.applyStyleFromParentDocument(createdElement.goElement);
      });
    }(createdElement);
    
    createdElement.jsonTraverse = function (obj, func, createdElement) {
      for (var i in obj) {
        func.apply(this, [i, obj, createdElement]);  
        if (obj[i] !== null && typeof(obj[i]) == "object") {
          createdElement.jsonTraverse(obj[i], func, createdElement);
        }
      }
    }
    
    createdElement.replaceVideoUrl = function (key, obj, createdElement) {
      if (key === 'url') {
        if (obj[key] !== '') {
          if (createdElement.firstUrl === '') {
            createdElement.firstUrl = obj[key];
          }
          createdElement.videoUrlCallbackCnt ++;
          var urlGroups = (/.*t=([0-9]+).*/g).exec(obj[key]);
          if (urlGroups) {
            obj['startTime'] = parseInt(urlGroups[1]);
          }
          createdElement.youtubeObject.getYoutubeVideoUrl(obj[key], true, function (xhr) {
            obj['videoUrl'] = xhr.responseText;
            delete obj[key];
            createdElement.videoUrlCallbackCnt --;
          
            if (createdElement.videoUrlCallbackCnt == 0) {
              createdElement.cueReady = true;
            }
          });
        }
      }
    }

  }
  
  componentObject.createComponent(componentName, onCreate);
</script>

