<template>
  <p id="cue-title" class="video-control-text"></p>
  <p id="cue-description" class="video-control-desc"></p>
  <p id="cue-chunk" class="video-control-chunk"></p>
</template>

<script>
  // This is basically a copy of cue-publisher-intercut-random, with a different publishRandom function for a different namespace
  var componentObject = new window.ComponentObject(document, window);
  var componentName = 'com-door-publisher';
  
  function onCreate(createdElement) {
    var showid = createdElement.getAttributeByListName(['showid'], window.showid);
    var cueTitle = createdElement.getAttributeByListName(['cueTitle', 't'], '');
    var description = createdElement.getAttributeByListName(['description', 'desc'], '');
    var content = createdElement.getAttributeByListName(['content'], '');
    var cueId = createdElement.getAttributeByListName(['cid'], '-1');
    var nodeName = createdElement.getAttributeByListName(['node'], 'node3');
    
    var titleElement = createdElement.shadowRoot.querySelector('#cue-title');
    var descElement = createdElement.shadowRoot.querySelector('#cue-description');
    var chunkElement = createdElement.shadowRoot.querySelector('#cue-chunk');
    
    var ndnPublisherComponentObject = new window.NDNPublisherComponentObject(createdElement, window);
    // TODO: Consider merging parseParameters to constructor of NDNPublisherComponentObject
    ndnPublisherComponentObject.parseParameters();
    
    titleElement.textContent = cueTitle;
    descElement.textContent = description;
    
    createdElement.running = false;
      
    createdElement.getRandomTimeout = function (low, range) {
      if (low === undefined) {
        low = 5000;
      }
      if (range === undefined) {
        range = 5000;
      }
      return Math.floor(Math.random() * range) + low;
    };
    
    createdElement.finishedFetching = false;
    
    createdElement.publishRandom = function(targetName, suffix) {
      return function () {
        if (createdElement.running && createdElement.finishedFetching) {
          var dataName = new Name(ndnPublisherComponentObject.namePrefix);
          var nodeComponent = new Name(targetName);
          
          var nameSuffix = new Name(suffix);
          dataName.append(showid).append(nodeComponent).appendVersion((new Date).getTime()).append(nameSuffix);
  
          var randIndex = Math.floor(Math.random() * createdElement.videoLinks.length);
          
          var details = createdElement.youtubeObject.requestYoutubeItem({
            'query': 'videos',
            'part': 'contentDetails',
            'id': createdElement.videoLinks[randIndex]
          }, undefined, undefined, function (result) {
            // Skip 0 seconds videos
            if (result.items[0].contentDetails.duration != 'PT0S') {
			  var content = 'https://www.youtube.com/watch?v=' + createdElement.videoLinks[randIndex];
			  ndnPublisherComponentObject.publishContent(dataName, content, false);
		  
			  // Hardcoded for known namespace on container + one digit
			  var controlNumber = parseInt(suffix[suffix.indexOf('container') + 9]);
			  suffix = 'door_comp/container' + (controlNumber % 4 + 1).toString() + '/serviceUrl.text';
			  setTimeout(createdElement.publishRandom(targetName, suffix), createdElement.getRandomTimeout(2000, 2000));
			} else {
			  createdElement.publishRandom(targetName, suffix);
			}
          });
        } else {
          console.log('Scheduled event: currently stopped; or youtube videoID loading not finished.');
        }
      }
    };
    
    titleElement.addEventListener('click', function() {
      if (!createdElement.running) {
        titleElement.textContent = 'Stop: ' + cueTitle;
        // Hardcoded for door controlling
        setTimeout(createdElement.publishRandom('nodes/' + nodeName, 'door_comp/container1/serviceUrl.text'), createdElement.getRandomTimeout(0, 0));
        createdElement.running = true;
      } else {
        titleElement.textContent = 'Start: ' + cueTitle;
        createdElement.running = false;
      }
    });
    
    createdElement.youtubeObject = new window.YoutubeObject('AIzaSyDCjPW8n_9MgGcEAYVPMmuO_sJ3a7jLe5M');
    createdElement.videoLinks = [];
    createdElement.youtubeObject.requestYoutubeItem({
      'query': 'search',
      'part': 'snippet,id',
      'channelId': 'UCdHYVYRpXuWedoj71N2TcQg',
      'videoIdPath': 'id.videoId',
      'maxResults': '20'
    }, undefined, createdElement.videoLinks, function () {
      createdElement.finishedFetching = true;
    });
  
    componentObject.applyStyleFromParentDocumentAll(createdElement);
  }
  
  componentObject.createComponent(componentName, onCreate);
</script>