<template>
  <p id="cue-title" class="cue-title"></p>
  
  <p style="margin:1.3em auto; width: 400px">
    <!-- <a id="cue-load" class="video-control-text"></a> -->
    <a id="cue-go" class="video-control-text text-large"></a>
  </p>
  
  <p id="cue-description" class="video-control-desc"></p>
  <p id="cue-chunk" class="video-control-chunk"></p>
</template>

<script>
  // Dynamic: Cycle through people's profile images from the Archive: Priority for Tuesday: High
  // Note: this selects sequentially, change every 2 sec, stop at actor's images
  var componentObject = new window.ComponentObject(document, window);
  var componentName = 'com-face-cycling-dynamic-cue-240';
  
  function onCreate(createdElement) {
    createdElement.ndnPublisherComponentObject = new window.NDNPublisherComponentObject(createdElement, window);
    createdElement.ndnPublisherComponentObject.parseParameters();
    
    createdElement.youtubeObject = new window.YoutubeObject();
    createdElement.dbObject = new window.DBObject('http://archive-dev.remap.ucla.edu/app');
    
    // This show-id in NDN name is different from the show-id field in database
    var defaultShowId = 'default-show';
    if (window.hasOwnProperty('showid')) {
      defaultShowId = window.showid;
    }
    
    createdElement.showid = createdElement.getAttributeByListName(['showid'], defaultShowId);
    createdElement.performanceId = createdElement.getAttributeByListName(['performanceid', 'pid'], 'performance-2');
    
    var cueTitle = createdElement.getAttributeByListName(['cueTitle', 't'], '');
    var description = createdElement.getAttributeByListName(['description', 'desc'], '');
    
    // The number of videos we pick from each neighborhood query to form the playlist
    var resultLength = createdElement.getAttributeByListName(['playlistLength', 'l'], '3');
    
    createdElement.content = createdElement.getAttributeByListName(['content'], '');
    if (createdElement.content !== '') {
      console.log(componentName + ': content definition exists for dynamic cue.');
    }
    
    createdElement.cueId = createdElement.getAttributeByListName(['cid'], '-1');
    createdElement.cueGoing = false;
    createdElement.cueReady = false;
    
    createdElement.titleElement = createdElement.shadowRoot.querySelector('#cue-title');
    createdElement.descElement = createdElement.shadowRoot.querySelector('#cue-description');
    createdElement.chunkElement = createdElement.shadowRoot.querySelector('#cue-chunk');
    
    //createdElement.loadElement = createdElement.shadowRoot.querySelector('#cue-load');
    createdElement.goElement = createdElement.shadowRoot.querySelector('#cue-go');
    //createdElement.unloadElement = createdElement.shadowRoot.querySelector('#cue-unload');
    
    createdElement.titleElement.textContent = createdElement.cueId + ' : ' + cueTitle;
    createdElement.descElement.textContent = description;
    
    //createdElement.loadElement.textContent = 'stand by';
    createdElement.goElement.textContent = 'GO';
    
    componentObject.applyStyleFromParentDocumentAll(createdElement);
    
    // For sunset installation, we query youtube + neighborhood tags
    createdElement.dbObject.queryParticipant(undefined, undefined, undefined, function(response) {
      var participantObject = {};
      try {
        participantObject = JSON.parse(response);
      } catch (e) {
        console.log(e);
      }
      
      // username, first_name, last_name, hashtags, photo_file, favorite_angeleno, favorite_time_of_day, neighborhood, email, role
      
      // TODO: Participant can be queried only once for less traffic
      // Hardcoded actors since we don't have an actor type
      // Nickjrapp@gmail.com - nick - felix
      // miebaka315@hotmail.com - miebaka - eddie
      // S.a.lyddan@gmail.com - sarah - rachel
      // rushukla@ucla.edu - roshni - sheena
      createdElement.finalImage = {};
      createdElement.imgSeq = [];
      
      var participantImg = '';
      var participantTags = '';
      
      for (var i = 0; i < participantObject.length; i++) {
        // TODO: change profile image, and correct hashtags for the final images
        participantImg = participantObject[i][4];
        if (participantObject[i][3] !== '' && participantObject[i][3] !== null && participantObject[i][3] !== undefined) {
          participantTags = participantObject[i][3].replace(/\n/g, ' ');
        } else {
          participantTags = '';
        }
        if (participantObject[i][8].toLowerCase() === 'Nickjrapp@gmail.com'.toLowerCase()) {
          createdElement.finalImage['felix'] = {'img': participantImg, 'tags': participantTags};
        } else if (participantObject[i][8].toLowerCase() === 'miebaka315@hotmail.com'.toLowerCase()) {
          createdElement.finalImage['eddie'] = {'img': participantImg, 'tags': participantTags};
        } else if (participantObject[i][8].toLowerCase() === 'S.a.lyddan@gmail.com'.toLowerCase()) {
          createdElement.finalImage['rachel'] = {'img': participantImg, 'tags': participantTags};
        } else if (participantObject[i][8].toLowerCase() === 'rushukla@ucla.edu'.toLowerCase()) {
          createdElement.finalImage['sheena'] = {'img': participantImg, 'tags': participantTags};
        } else {
          try {;
            var participantRole = JSON.parse(participantObject[i][9]);
            if (participantRole !== null && participantRole !== undefined) {
              //if (participantRole[createdElement.performanceId] === 'crew' || participantRole[createdElement.performanceId] === 'tourist') {
              if (participantObject[i][4] !== null && participantObject[i][4] !== '' && participantObject[i][4] !== undefined) {
                createdElement.imgSeq.push({'img': participantImg, 'tags': participantTags});
              }
              //} else {
                //console.log(participantObject[i][8] + ' is not coming.');
              //}
            }
          } catch (e) {
            console.log(e);
          }
        }
      }
    });
    
    if (createdElement.content === undefined || createdElement.content == '') {
      var xhr = new XMLHttpRequest();
      xhr.open('GET', cueFolder + createdElement.cueId + '.json', true);
      xhr.onreadystatechange = function () {
        if (xhr.readyState == 4 && xhr.status == 200) {
          createdElement.cueContent = JSON.parse(xhr.responseText);
          createdElement.cueReady = true;
          createdElement.titleElement.innerHTML = '<span style="color:green;">' + createdElement.cueId + '</span> : ' + cueTitle;
        }
      };
      xhr.send();
    }
    
    createdElement.registerEvents = function (createdElement) {
      /*
      createdElement.loadElement.addEventListener('click', function () {
        // TODO: referencing namePrefix like this is not ideal
        console.log('load does not do anything');
      
      });
      */
      
      createdElement.goElement.addEventListener('click', function() {
        if (!createdElement.cueGoing && createdElement.cueReady) {
          if (window.scriptControl.cueGoClicked) {
            window.scriptControl.cueGoClicked(createdElement);
          }
          
          createdElement.imageIdx = 0;
          createdElement.publishNextDoors(createdElement.cueContent, createdElement);
        
          if (createdElement.ndnPublisherComponentObject.wsOn()) {
            createdElement.goElement.className += ' video-control-clicked';
          } else {
            createdElement.goElement.className += ' video-control-problem';
          }
          componentObject.applyStyleFromParentDocument(createdElement.goElement);
          
          createdElement.goElement.className += ' video-control-clicked';
          componentObject.applyStyleFromParentDocument(createdElement.goElement);
          createdElement.cueGoing = true;
        } else {
          console.log('Cue is already going, or not ready yet!');
        }
      });
    }(createdElement);
    
    createdElement.publishNextDoors = function (jsonObj, createdElement) {
      // B1
      if (jsonObj.nodeArgs.nodeB.tGo.doors['0'].composer.pipeline1.thumbnailUrl !== undefined) {
        if (createdElement.imgSeq[createdElement.imageIdx]) {
          jsonObj.nodeArgs.nodeB.tGo.doors['0'].composer.pipeline1.thumbnailUrl = 'http://archive-dev.remap.ucla.edu/app/querystatic/get-user-avatar?filename=' + createdElement.imgSeq[createdElement.imageIdx]['img'];
          jsonObj.nodeArgs.nodeB.tGo.doors['0'].door.tagText = '#' + createdElement.imgSeq[createdElement.imageIdx]['tags'];
        } else {
          console.log('imageIdx runs out');
        }
      } else {
        console.log('Unexpected json');
      }
      createdElement.imageIdx ++;
      // B2
      if (jsonObj.nodeArgs.nodeB.tGo.doors['1'].composer.pipeline1.thumbnailUrl !== undefined) {
        if (createdElement.imgSeq[createdElement.imageIdx]) {
          jsonObj.nodeArgs.nodeB.tGo.doors['1'].composer.pipeline1.thumbnailUrl = 'http://archive-dev.remap.ucla.edu/app/querystatic/get-user-avatar?filename=' + createdElement.imgSeq[createdElement.imageIdx]['img'];
          jsonObj.nodeArgs.nodeB.tGo.doors['1'].door.tagText = '#' + createdElement.imgSeq[createdElement.imageIdx]['tags'];
        } else {
          console.log('imageIdx runs out');
        }
      } else {
        console.log('Unexpected json');
      }
      createdElement.imageIdx ++;
      // C1
      if (jsonObj.nodeArgs.nodeC.tGo.doors['0'].composer.pipeline1.thumbnailUrl !== undefined) {
        if (createdElement.imgSeq[createdElement.imageIdx]) {
          jsonObj.nodeArgs.nodeC.tGo.doors['0'].composer.pipeline1.thumbnailUrl = 'http://archive-dev.remap.ucla.edu/app/querystatic/get-user-avatar?filename=' + createdElement.imgSeq[createdElement.imageIdx]['img'];
          jsonObj.nodeArgs.nodeC.tGo.doors['0'].door.tagText = '#' + createdElement.imgSeq[createdElement.imageIdx]['tags'];
        } else {
          console.log('imageIdx runs out');
        }
      } else {
        console.log('Unexpected json');
      }
      createdElement.imageIdx ++;
      // C2
      if (jsonObj.nodeArgs.nodeC.tGo.doors['1'].composer.pipeline1.thumbnailUrl !== undefined) {
        if (createdElement.imgSeq[createdElement.imageIdx]) {
          jsonObj.nodeArgs.nodeC.tGo.doors['1'].composer.pipeline1.thumbnailUrl = 'http://archive-dev.remap.ucla.edu/app/querystatic/get-user-avatar?filename=' + createdElement.imgSeq[createdElement.imageIdx]['img'];
          jsonObj.nodeArgs.nodeC.tGo.doors['1'].door.tagText = '#' + createdElement.imgSeq[createdElement.imageIdx]['tags'];
        } else {
          console.log('imageIdx runs out');
        }
      } else {
        console.log('Unexpected json');
      }
      createdElement.imageIdx ++;
    
      var dataName = new Name(createdElement.ndnPublisherComponentObject.namePrefix);
      // Note: for now, the names are hard-coded, since namespace design is not fully discussed
      var cueComponent = new Name('cues');
      var nameSuffix = new Name(createdElement.cueId + '/go');
      dataName.append(createdElement.showid).append(cueComponent).appendVersion((new Date).getTime()).append(nameSuffix);
    
      createdElement.content = JSON.stringify(jsonObj);
      
      createdElement.ndnPublisherComponentObject.publishContent(dataName, createdElement.content, false);
      if (createdElement.imageIdx < createdElement.imgSeq.length) {
        setTimeout(function () {
          createdElement.publishNextDoors(jsonObj, createdElement);
        }, 2000);
      } else {
        console.log('unload');
        createdElement.publishFinalDoors(jsonObj, createdElement)
      }
    };
    
    createdElement.publishFinalDoors = function (jsonObj, createdElements) {
      var hardcode1 = "http://archive-dev.remap.ucla.edu/img/traveler/felix.jpg";
      var hardcode2 = "http://archive-dev.remap.ucla.edu/img/traveler/sheena.jpg";
      var hardcode3 = "http://archive-dev.remap.ucla.edu/img/traveler/eddie.jpg";
      var hardcode4 = "http://archive-dev.remap.ucla.edu/img/traveler/rachel.jpg";
      
      // B1
      if (jsonObj.nodeArgs.nodeB.tGo.doors['0'].composer.pipeline1.thumbnailUrl !== undefined) {
        jsonObj.nodeArgs.nodeB.tGo.doors['0'].composer.pipeline1.thumbnailUrl = hardcode4; //'http://archive-dev.remap.ucla.edu/app/querystatic/get-user-avatar?filename=' + createdElement.finalImage['rachel']['img'];
        if (createdElement.finalImage['rachel']['tags'] !== undefined && createdElement.finalImage['rachel']['tags'] !== '') {
          jsonObj.nodeArgs.nodeB.tGo.doors['0'].door.tagText = '#' + createdElement.finalImage['rachel']['tags'];
        } else {
          console.log('Rachel does not have tags');
        }
      } else {
        console.log('Rachel unexpected json');
      }
      // B2
      if (jsonObj.nodeArgs.nodeB.tGo.doors['1'].composer.pipeline1.thumbnailUrl !== undefined) {
        jsonObj.nodeArgs.nodeB.tGo.doors['1'].composer.pipeline1.thumbnailUrl = hardcode2; //'http://archive-dev.remap.ucla.edu/app/querystatic/get-user-avatar?filename=' + createdElement.finalImage['sheena']['img'];
        if (createdElement.finalImage['sheena']['tags'] !== undefined && createdElement.finalImage['sheena']['tags'] !== '') {
          jsonObj.nodeArgs.nodeB.tGo.doors['1'].door.tagText = '#' + createdElement.finalImage['sheena']['tags'];
        } else {
          console.log('Sheena does not have tags');
        }
      } else {
        console.log('Sheena unexpected json');
      }
      // C1
      if (jsonObj.nodeArgs.nodeC.tGo.doors['0'].composer.pipeline1.thumbnailUrl !== undefined) {
        jsonObj.nodeArgs.nodeC.tGo.doors['0'].composer.pipeline1.thumbnailUrl = hardcode1; //'http://archive-dev.remap.ucla.edu/app/querystatic/get-user-avatar?filename=' + createdElement.finalImage['felix']['img'];
        if (createdElement.finalImage['felix']['tags'] !== undefined && createdElement.finalImage['felix']['tags'] !== '') {
          jsonObj.nodeArgs.nodeC.tGo.doors['0'].door.tagText = '#' + createdElement.finalImage['felix']['tags'];
        } else {
          console.log('Felix does not have tags');
        }
      } else {
        console.log('Felix unexpected json');
      }
      // C2
      if (jsonObj.nodeArgs.nodeC.tGo.doors['1'].composer.pipeline1.thumbnailUrl !== undefined) {
        jsonObj.nodeArgs.nodeC.tGo.doors['1'].composer.pipeline1.thumbnailUrl = hardcode3; //'http://archive-dev.remap.ucla.edu/app/querystatic/get-user-avatar?filename=' + createdElement.finalImage['eddie']['img'];
        if (createdElement.finalImage['eddie']['tags'] !== undefined && createdElement.finalImage['eddie']['tags'] !== '') {
          jsonObj.nodeArgs.nodeC.tGo.doors['1'].door.tagText = '#' + createdElement.finalImage['eddie']['tags'];
        } else {
          console.log('Eddie does not have tags');
        }
      } else {
        console.log('Eddie unexpected json');
      }
    
      var dataName = new Name(createdElement.ndnPublisherComponentObject.namePrefix);
      // Note: for now, the names are hard-coded, since namespace design is not fully discussed
      var cueComponent = new Name('cues');
      var nameSuffix = new Name(createdElement.cueId + '/go');
      dataName.append(createdElement.showid).append(cueComponent).appendVersion((new Date).getTime()).append(nameSuffix);
    
      createdElement.content = JSON.stringify(jsonObj);
      createdElement.ndnPublisherComponentObject.publishContent(dataName, createdElement.content, false);
    }
  }
  
  componentObject.createComponent(componentName, onCreate);
</script>

