<template>
  <p id="cue-title" class="cue-title"></p>
  
  <p style="margin:1.3em auto; width: 400px">
    <!-- <a id="cue-load" class="video-control-text"></a> -->
    <a id="cue-go" class="video-control-text text-large"></a>
  </p>
  
  <p id="cue-description" class="video-control-desc"></p>
  <p id="cue-chunk" class="video-control-chunk"></p>
</template>

<script>
  
  var componentObject = new window.ComponentObject(document, window);
  var componentName = 'com-google-image-query-dynamic-cue-295';
  
  function onCreate(createdElement) {
    createdElement.ndnPublisherComponentObject = new window.NDNPublisherComponentObject(createdElement, window);
    createdElement.ndnPublisherComponentObject.parseParameters();
    
    createdElement.youtubeObject = new window.YoutubeObject();
    createdElement.dbObject = new window.DBObject('http://archive-dev.remap.ucla.edu/app');
    
    // This show-id in NDN name is different from the show-id field in database
    var defaultShowId = 'default-show';
    if (window.hasOwnProperty('showid')) {
      defaultShowId = window.showid;
    }
    
    createdElement.showid = createdElement.getAttributeByListName(['showid'], defaultShowId);
    var cueTitle = createdElement.getAttributeByListName(['cueTitle', 't'], '');
    var description = createdElement.getAttributeByListName(['description', 'desc'], '');
    
    createdElement.content = createdElement.getAttributeByListName(['content'], '');
    if (createdElement.content !== '') {
      console.log(componentName + ': content definition exists for dynamic cue.');
    }
    
    createdElement.cueId = createdElement.getAttributeByListName(['cid'], '-1');
    createdElement.cueReady = false;
    
    createdElement.titleElement = createdElement.shadowRoot.querySelector('#cue-title');
    createdElement.descElement = createdElement.shadowRoot.querySelector('#cue-description');
    createdElement.chunkElement = createdElement.shadowRoot.querySelector('#cue-chunk');
    
    //createdElement.loadElement = createdElement.shadowRoot.querySelector('#cue-load');
    createdElement.goElement = createdElement.shadowRoot.querySelector('#cue-go');
    //createdElement.unloadElement = createdElement.shadowRoot.querySelector('#cue-unload');
    
    createdElement.titleElement.textContent = createdElement.cueId + ' : ' + cueTitle;
    createdElement.descElement.textContent = description;
    
    //createdElement.loadElement.textContent = 'stand by';
    createdElement.goElement.textContent = 'GO';
    createdElement.capSize = 40;
    
    componentObject.applyStyleFromParentDocumentAll(createdElement);
    
    // For sunset installation, we query youtube + neighborhood tags
    createdElement.dbObject.queryParticipant(undefined, undefined, undefined, function(response) {
      var participantObject = {};
      try {
        participantObject = JSON.parse(response);
      } catch (e) {
        console.log(e);
      }
      
      // username, first_name, last_name, hashtags, photo_file, favorite_angeleno, favorite_time_of_day, neighborhood, email
      
      // TODO: Participant can be queried only once for less traffic
      createdElement.imgSeq = [];
      
      for (var i = 0; i < participantObject.length; i++) {
        // TODO: change profile image, and correct hashtags for the final images
        if (participantObject[i][4] !== null && participantObject[i][4] !== '' && participantObject[i][4] !== undefined) {
          createdElement.imgSeq.push('http://archive-dev.remap.ucla.edu/app/querystatic/get-user-avatar?filename=' + participantObject[i][4]);
        }
      }
    });
    
    createdElement.googleImageLinks = [];
    
    createdElement.loadGoogleImages = function (createdElement, onDone) {
      // Google custom image query:
      var targetTotalNum = 20;
      var remainingTargetNum = targetTotalNum;
      var perPageNum = 10;
      var startNum = 1;
      
      var callbackRemaining = 0;
      
      while (remainingTargetNum > 0) {
        // Search with my own custom search engine ID
        var imageQueryUrl = 'https://www.googleapis.com/customsearch/v1?cx=017018307474463599316:c9iq0zebyqa';
        // Image filtering conditions
        imageQueryUrl += '&imgColorType=color&q=los+angeles+diversity+residents&imgSize=medium&searchType=image&imgType=face&fileType=png';
        // With my own ApiKey
        imageQueryUrl += '&key=AIzaSyDx57dinaM_Hj_dGtDIltSMfsxqkvePLIk';
        // startIdx, max results 10 per page
        imageQueryUrl += '&start=' + startNum;
        callbackRemaining ++;
        
        var imageQueryXhr = new XMLHttpRequest();
        imageQueryXhr.onload = function () {
          callbackRemaining --;
          
          var responseObj = JSON.parse(this.responseText);
          if (responseObj.items !== undefined && responseObj.items.length > 0) {
            for (var i = 0; i < responseObj.items.length; i++) {
              if (responseObj.items[i].link !== undefined && responseObj.items[i].link !== null) {
                createdElement.googleImageLinks.push(responseObj.items[i].link);
              }
            }
          }
          if (callbackRemaining === 0) {
            onDone(createdElement);
          }
        }
        imageQueryXhr.onerror = function () {
          callbackRemaining --;
          if (callbackRemaining === 0) {
            onDone(createdElement);
          }
        }
        imageQueryXhr.open('GET', imageQueryUrl, true);
        imageQueryXhr.send();
      
        remainingTargetNum -= perPageNum;
        startNum += perPageNum;
      }
    }
    
    if (createdElement.content === undefined || createdElement.content == '') {
      var xhr = new XMLHttpRequest();
      xhr.open('GET', cueFolder + createdElement.cueId + '.json', true);
      xhr.onreadystatechange = function () {
        if (xhr.readyState == 4 && xhr.status == 200) {
          createdElement.cueContent = JSON.parse(xhr.responseText);
          createdElement.cueReady = true;
        }
      };
      xhr.send();
    }
    
    createdElement.shuffle = function (o) {
      for(var j, x, i = o.length; i; j = Math.floor(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
      return o;
    }
    
    createdElement.publishContent = function (createdElement) {
      if (window.scriptControl.cueGoClicked) {
        window.scriptControl.cueGoClicked(createdElement);
      }
      
      createdElement.imgSeq = createdElement.shuffle(createdElement.imgSeq.concat(createdElement.googleImageLinks));        
      var imageIdx = 0;
      var cnt = 0;
      var length = Math.min(createdElement.imgSeq.length, createdElement.capSize);
      
      for (node in createdElement.cueContent.nodeArgs) {
        if (createdElement.cueContent.nodeArgs[node].tGo.thumbGenerator.thumbUrls !== undefined) {
          createdElement.cueContent.nodeArgs[node].tGo.thumbGenerator.thumbUrls = '';
          for (cnt = 0; cnt < length / 4; cnt ++) {
            createdElement.cueContent.nodeArgs[node].tGo.thumbGenerator.thumbUrls += createdElement.imgSeq[imageIdx] + '\r\n';
            imageIdx ++;
          }
        }
      }
      
      createdElement.goElement.className += ' video-control-clicked';
      componentObject.applyStyleFromParentDocument(createdElement.goElement);
      
      var dataName = new Name(createdElement.ndnPublisherComponentObject.namePrefix);
      // Note: for now, the names are hard-coded, since namespace design is not fully discussed
      var cueComponent = new Name('cues');
      var nameSuffix = new Name(createdElement.cueId + '/go');
      dataName.append(createdElement.showid).append(cueComponent).appendVersion((new Date).getTime()).append(nameSuffix);
  
      createdElement.content = JSON.stringify(createdElement.cueContent);
      createdElement.ndnPublisherComponentObject.publishContent(dataName, createdElement.content, false);
    }
    
    createdElement.registerEvents = function (createdElement) {
      /*
      createdElement.loadElement.addEventListener('click', function () {
        // TODO: referencing namePrefix like this is not ideal
        console.log(createdElement.googleImageLinks);
      });
      */
      
      createdElement.goElement.addEventListener('click', function() {
        if (createdElement.googleImageLinks.length === 0) {
          createdElement.loadGoogleImages(createdElement, createdElement.publishContent);
        } else {
          createdElement.publishContent(createdElement);
        }
      });
    }(createdElement);
  }
  
  componentObject.createComponent(componentName, onCreate);
</script>

