<template>
    <p></p>
</template>

<script>
    // TODO: This seems to only work in Chrome, verifying.
    // Random-text: This sample component generates a number of words each time on reload.
    // @param len The number of words in the random string.
    // @param prefix The string that prepends the random string.
    (function(window, document, undefined) {
        var wordList = 
        ["Hello","darkness","my","old","friend","Ive","come","to","talk","with","you",
         "again","Because","a","vision","softly","creeping","Left","its","seeds","while",
         "I","was","sleeping","And","the","vision","that","was","planted","in","my","brain","Still",
         "remains","Within","the","sound","of","silence",,"In","restless","dreams","I","walked","alone",
         "Narrow","streets","of","cobblestone","Neath","the","halo","of","a","street","lamp","I","turned","my",
         "collar","to","the","cold","and","damp","When","my","eyes","were","stabbed","by","the","flash","of","a","neon",
         "light","That","split","the","night","And","touched","the","sound","of","silence",,"And","in","the","naked",
         "light","I","saw","Ten","thousand","people","maybe","more","People","talking","without","speaking",
         "People","hearing","without","listening","People","writing","songs","that","voices","never","share",
         "And","no","one","dared","Disturb","the","sound","of","silence","Fools","said","I","You","do","not","know",
         "Silence","like","a","cancer","grows","Hear","my","words","that","I","might","teach","you","Take","my","arms",
         "that","I","might","reach","you","But","my","words","like","silent","raindrops","fell","And","echoed","in","the",
         "wells","of","silence",,"And","the","people","bowed","and","prayed","To","the","neon","god","they","made","And",
         "the","sign","flashed","out","its","warning","In","the","words","that","it","was","forming","And","the","sign",
         "said","The","words","of","the","prophets","are","written","on","the","subway","walls","And","tenement",
         "halls","And","whispered","in","the","sound","of","silence"];
        
        var thatDoc = document;
        var thisDoc =  (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;
        var template = thisDoc.querySelector('template').content;
        
        var MyElementProto = Object.create(HTMLElement.prototype);
        MyElementProto.str = "";
        
        MyElementProto.createdCallback = function() {
            var shadowRoot = this.createShadowRoot();
            var clone = thatDoc.importNode(template, true);
            shadowRoot.appendChild(clone);
            
            this.paragraph = shadowRoot.querySelector('p');
            
            if (this.hasAttribute('len')) {
                var len = this.getAttribute('len');
                this.generateList(len);
            }
            else {
                this.generateList(0);
            }
            
            if (this.hasAttribute('prefix')) {
                var prefix = this.getAttribute('prefix');
                this.prepend(prefix);
            }
            
            if (this.hasAttribute('style')) {
                var style = this.getAttribute('style');
                this.applyStyle(this.paragraph, style);
            }
            else {
                this.applyStyle(this.paragraph, "color:#FFFFFF");
            }
            
            var self = this;
            setInterval(function() {
                self.generateList(len);
                self.paragraph.textContent = self.str;
            }, 10000);
        };
        MyElementProto.attributeChangedCallback = function(attr, oldVal, newVal) {
            if (attr === 'len') {
                this.generateList(newVal);
            }
            if (attr === 'prefix') {
                this.prepend(newVal);
            }
        };
        MyElementProto.generateList = function(val) {
            this.str = "";
            if (val == 0) {
                this.str += "Default";
            }
            for (var i = 0; i < val; i++) {
                this.str += wordList[Math.floor((Math.random() * wordList.length))];
                this.str += " ";
            }
        };
        MyElementProto.prepend = function(val) {
            this.str = val + this.str;
        };
        MyElementProto.applyStyle = function(comp, val) {
            // TODO: Figuring out why ("class", val) wouldn't work, while "style" works;
            // Is the sequence of execution of css file load and web component initiate going to matter?
            comp.setAttribute("style", val);
        };
        window.MyElement = thatDoc.registerElement('random-text', {
            prototype: MyElementProto
        });
    })(window, document);
</script>