<template>
  <p id="com-1a-departures-text" class="web-component com-1a-departures video-control-text"></p>
  <p id="com-1a-departures-chunk" class="web-component com-1a-departures video-control-chunk"></p>
</template>

<script>

  // TODO: This seems to only work in Chrome, verifying. There is a flag in Firefox that needs to be set to true
  // TODO: First click does not seem to work? Second and third works? Verifying
  
  // Note: referring to the ndnURLPublisherFactory would require this line to be executed after the script tags
  // Note: after decoupling projector name with ritualID, the components are created to control projector1 by default
  (function(window, document, undefined) {
    var componentName = 'com-1a-departures';
    
    window.ndnURLPublisherFactory.createVideoControlComponent
      (componentName, 'projectors/projector1/url', 'departures', 
       '#' + componentName + '-text', '#' + componentName + '-chunk');  
  })(window, document);
  
</script>