<template>
    <p></p>
</template>

<script src="../../includes/ndn.js"></script>
<script src="../ndn-url-publisher-component.js"></script>

<script>

    // TODO: This seems to only work in Chrome, verifying. There is a flag in Firefox that needs to be set to true
    // TODO: First click does not seem to work? Second and third works? Verifying

    (function(window, document, undefined) {
        createVideoControlComponent('com-1a-departures', 'ritual/1A/1A_departure_1/url', 'departures', window, document);    
    })(window, document);
    
</script>