<template>
  <p id="com-1c-polaroids-text" class="web-component com-1c-polaroids video-control-text"></p>
  <p id="com-1c-polaroids-chunk" class="web-component com-1c-polaroids video-control-chunk"></p>
</template>

<script>

  // TODO: This seems to only work in Chrome, verifying. There is a flag in Firefox that needs to be set to true
  // TODO: First click does not seem to work? Second and third works? Verifying

  (function(window, document, undefined) {
    var componentName = 'com-1c-polaroids';
    
    window.ndnURLPublisherFactory.createVideoControlComponent
      (componentName, 'ritual/1C/1C_polaroids_1/url', 'polaroids', 
       '#' + componentName + '-text', '#' + componentName + '-chunk');  
  })(window, document);
  
</script>